@if (series && series.cover) {
<div class="h-48 lg:h-64">
  <img
    [src]="'api/uploads/' + series.cover"
    class="w-full h-full object-cover object-center"
  />
</div>
}
<div class="p-4">
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
    @for (seriesLesson of seriesLessons; track $index) {
    <div
      role="button"
      [routerLink]="[
        '/categories',
        seriesLesson.categoryId,
        'series',
        seriesLesson.seriesId,
        seriesLesson.id
      ]"
      class="h-48 rounded-3xl p-4 bg-secondary-container relative overflow-hidden"
    >
      <div class="absolute top-0 left-0 w-full h-full">
        @if (seriesLesson.cover) {
        <img
          class="w-full h-full object-cover object-center"
          [src]="'api/uploads/' + seriesLesson.cover"
          [alt]="seriesLesson.title"
        />
        }
      </div>
      <div
        class="absolute top-0 left-0 w-full h-full bg-scrim/25 p-4 flex justify-center items-center"
      >
        <p class="text-2xl font-bold text-on-primary drop-shadow">
          {{ seriesLesson.title }}
        </p>
      </div>
    </div>
    } @empty {
    <p
      class="col-span-1 sm:col-span-2 lg:col-span-4 text-center text-xl font-bold text-primary"
    >
      No series lesson found.
    </p>
    }
  </div>
</div>
