@if (seriesLesson && seriesLesson.cover) {
<div class="h-dvh relative">
  <div class="absolute top-0 left-0 w-full h-full">
    <img
      [src]="'/api/uploads/' + seriesLesson.cover"
      class="w-full h-full object-cover object-center series-lesson-cover"
    />
  </div>
  <div
    class="absolute top-0 left-0 w-full h-full flex justify-center items-center"
  >
    <div>
      <h1 class="text-3xl font-bold text-on-primary drop-shadow series-lesson-title">
        {{ seriesLesson.title }}
      </h1>
      <p class="font-semibold text-on-primary drop-shadow series-title">
        {{ seriesLesson.categoryTitle }} - {{ seriesLesson.seriesTitle }}
      </p>
    </div>
  </div>
</div>
} @if (seriesLesson && seriesLesson.content) {
<nwk-content-view [content]="seriesLesson.content" />
} @else {
<p class="text-center text-xl font-bold text-on-primary drop-shadow">
  No content found.
</p>

}
