@if (lesson && lesson.cover) {
<div class="h-dvh relative">
  <div class="absolute top-0 left-0 w-full h-full">
    <img
      [src]="'/api/uploads/' + lesson.cover"
      [alt]="lesson.title"
      class="w-full h-full object-cover object-center lesson-cover"
    />
  </div>
  <div
    class="absolute top-0 left-0 w-full h-full flex justify-center items-center bg-scrim/50 lesson-backdrop"
  >
    <div>
      <h1 class="text-3xl font-bold text-on-primary drop-shadow lesson-title">
        {{ lesson.title }}
      </h1>
      <p class="font-semibold text-on-primary drop-shadow category-title">
        {{ lesson.categoryTitle }}
      </p>
    </div>
  </div>
</div>
} @if (lesson && lesson.content) {
<nwk-content-view [content]="lesson.content" />
} @else {
<p class="text-center text-xl font-bold text-on-primary drop-shadow">
  ไม่มีเนื้อหา
</p>
}
