@if (lesson && lesson.cover) {
<div class="h-dvh relative">
  <div class="absolute top-0 left-0 w-full h-full">
    <img
      [src]="'/api/uploads/' + lesson.cover"
      class="w-full h-full object-cover object-center"
    />
  </div>
  <div
    class="absolute top-0 left-0 w-full h-full flex justify-center items-center bg-gradient-to-b from-primary/75 to-primary/0"
  >
    <div>
      <h1 class="text-2xl font-bold text-on-primary drop-shadow">
        {{ lesson.title }}
      </h1>
      <p class="text-sm font-semibold text-on-primary drop-shadow">
        <!-- {{lesson.}} -->
      </p>
    </div>
  </div>
</div>
} @if (lesson && lesson.content) {
<nwk-content-view [content]="lesson.content" />
}
