@if (category && category.cover) {
<div class="h-48 lg:h-64 relative">
  <div class="absolute top-0 left-0 w-full h-full">
    <img
      [src]="'api/uploads/' + category.cover"
      [alt]="category.title"
      class="w-full h-full object-cover object-center category-cover"
    />
  </div>
  <div class="absolute top-0 left-0 w-full h-full p-4 flex items-end">
    <p class="text-2xl font-bold text-on-primary drop-shadow category-title">
      {{ category.title }}
    </p>
  </div>
</div>
}
<div class="flex items-center gap-2 p-4">
  <button
    (click)="toLessonsTab()"
    class="flex items-center px-4 py-2 rounded-full bg-secondary text-on-secondary font-semibold"
    [ngClass]="
      currentTab === CategoryTab.Lessons ? 'opacity-100' : 'opacity-50'
    "
  >
    Lesson
  </button>
  <button
    (click)="toSeriesTab()"
    class="flex items-center px-4 py-2 rounded-full bg-secondary text-on-secondary font-semibold"
    [ngClass]="currentTab === CategoryTab.Series ? 'opacity-100' : 'opacity-50'"
  >
    Series
  </button>
</div>
@if (currentTab === CategoryTab.Lessons) {
<div class="p-4">
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
    @for (lesson of lessons; track $index) {
    <div
      role="button"
      [routerLink]="['/categories', lesson.categoryId, 'lessons', lesson.id]"
      class="h-48 p-4 bg-secondary-container relative overflow-hidden"
    >
      <div class="absolute top-0 left-0 w-full h-full">
        <img
          [style.viewTransitionName]="
            transitionService.viewTransitionName(
              lesson,
              'lessonId',
              'lesson-cover'
            )
          "
          class="w-full h-full object-cover object-center"
          [src]="'api/uploads/' + lesson.cover"
          [alt]="lesson.title"
        />
      </div>
      <div
        class="absolute top-0 left-0 w-full h-full p-4 flex justify-center items-center"
      >
        <p
          class="text-2xl font-bold text-on-primary drop-shadow"
          [style.viewTransitionName]="
            transitionService.viewTransitionName(
              lesson,
              'lessonId',
              'lesson-title'
            )
          "
        >
          {{ lesson.title }}
        </p>
      </div>
    </div>
    } @empty {
    <p
      class="col-span-1 sm:col-span-2 lg:col-span-4 text-center text-xl font-bold text-primary"
    >
      No lesson found.
    </p>
    }
  </div>
</div>
} @if (currentTab === CategoryTab.Series) {
<div class="p-4">
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
    @for (s of series; track $index) {
    <div
      role="button"
      [routerLink]="['/categories', s.categoryId, 'series', s.id]"
      class="h-48 p-4 bg-secondary-container relative overflow-hidden"
    >
      <div class="absolute top-0 left-0 w-full h-full">
        @if (s.cover) {
        <img
          [style.viewTransitionName]="
            transitionService.viewTransitionName(s, 'seriesId', 'series-cover')
          "
          class="w-full h-full object-cover object-center"
          [src]="'api/uploads/' + s.cover"
          [alt]="s.title"
        />
        }
      </div>
      <div
        class="absolute top-0 left-0 w-full h-full p-4 flex justify-center items-center"
      >
        <p
          class="text-2xl font-bold text-on-primary drop-shadow"
          [style.viewTransitionName]="
            transitionService.viewTransitionName(s, 'seriesId', 'series-title')
          "
        >
          {{ s.title }}
        </p>
      </div>
    </div>
    } @empty {
    <p
      class="col-span-1 sm:col-span-2 lg:col-span-4 text-center text-xl font-bold text-primary"
    >
      No series found.
    </p>
    }
  </div>
</div>
}
