<!-- <div class="p-4">
  <div
    class="flex items-center gap-2 px-4 py-2 rounded-xl bg-surface-container"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      height="24px"
      viewBox="0 -960 960 960"
      width="24px"
      fill="#5f6368"
    >
      <path
        d="M380-320q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l224 224q11 11 11 28t-11 28q-11 11-28 11t-28-11L532-372q-30 24-69 38t-83 14Zm0-80q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z"
      />
    </svg>
    <input type="text" class="grow w-full focus:outline-0 bg-transparent" />
  </div>
</div> -->

<div class="p-4">
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
    @for (category of categories; track $index) {
    <div
      role="button"
      [routerLink]="['/categories', category.id]"
      class="h-48 rounded-3xl p-4 bg-secondary-container relative overflow-hidden"
    >
      <div class="absolute top-0 left-0 w-full h-full">
        <img
          class="w-full h-full object-cover object-center"
          [src]="'api/uploads/' + category.cover"
          [alt]="category.title"
        />
      </div>
      <div
        class="absolute top-0 left-0 w-full h-full bg-scrim/25 p-4 flex justify-center items-center"
      >
        <p class="text-2xl font-bold text-on-primary drop-shadow">
          {{ category.title }}
        </p>
      </div>
    </div>
    } @empty {
    <p
      class="col-span-1 sm:col-span-2 lg:col-span-4 text-center text-xl font-bold text-primary"
    >
      No category found.
    </p>
    }
  </div>
</div>
