:root {
  --primary: 32, 62, 43;
  --on-primary: 255, 255, 255;
  --secondary: 85, 97, 87;
  --on-secondary: 255, 255, 255;
  --tertiary: 40, 56, 80;
  --on-tertiary: 255, 255, 255;
  --error: 186, 26, 26;
  --on-error: 255, 255, 255;
  --primary-container: 55, 85, 65;
  --on-primary-container: 167, 200, 175;
  --secondary-container: 214, 227, 214;
  --on-secondary-container: 89, 102, 92;
  --tertiary-container: 63, 79, 104;
  --on-tertiary-container: 176, 193, 222;
  --error-container: 255, 218, 214;
  --on-error-container: 147, 0, 10;
  --primary-fixed: 200, 235, 208;
  --primary-fixed-dim: 173, 207, 181;
  --on-primary-fixed: 3, 33, 16;
  --on-primary-fixed-variant: 47, 77, 58;
  --secondary-fixed: 217, 230, 217;
  --secondary-fixed-dim: 189, 202, 190;
  --on-secondary-fixed: 19, 30, 22;
  --on-secondary-fixed-variant: 62, 74, 64;
  --tertiary-fixed: 212, 227, 255;
  --tertiary-fixed-dim: 183, 199, 229;
  --on-tertiary-fixed: 10, 28, 50;
  --on-tertiary-fixed-variant: 55, 71, 96;
  --surface: 250, 249, 246;
  --surface-dim: 218, 218, 215;
  --surface-bright: 250, 249, 246;
  --surface-container: 238, 238, 234;
  --surface-container-lowest: 255, 255, 255;
  --surface-container-low: 244, 244, 240;
  --surface-container-highest: 227, 227, 223;
  --surface-container-high: 232, 232, 229;
  --on-surface: 26, 28, 26;
  --on-surface-variant: 66, 72, 67;
  --outline: 114, 121, 114;
  --outline-variant: 194, 200, 193;
  --inverse-primary: 173, 207, 181;
  --inverse-surface: 47, 49, 47;
  --inverse-on-surface: 241, 241, 237;
  --scrim: 0, 0, 0;
  --shadow: 0, 0, 0;
}
