<nav class="fixed top-0 left-0 w-full h-16 bg-surface z-40">
  <div class="flex justify-between items-center gap-4 p-4">
    <p class="text-2xl font-comfortaa font-bold">nerdwiki</p>
    <button (click)="openMenuAndLockBody()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 -960 960 960"
        class="size-6 fill-current"
      >
        <path
          d="M160-240q-17 0-28.5-11.5T120-280q0-17 11.5-28.5T160-320h640q17 0 28.5 11.5T840-280q0 17-11.5 28.5T800-240H160Zm0-200q-17 0-28.5-11.5T120-480q0-17 11.5-28.5T160-520h640q17 0 28.5 11.5T840-480q0 17-11.5 28.5T800-440H160Zm0-200q-17 0-28.5-11.5T120-680q0-17 11.5-28.5T160-720h640q17 0 28.5 11.5T840-680q0 17-11.5 28.5T800-640H160Z"
        />
      </svg>
    </button>
  </div>
</nav>

@if (menuPanel.isOpened) {
<div
  @fade
  class="fixed top-0 left-0 w-full h-dvh bg-surface-container/90 backdrop-blur-sm z-50"
>
  <div class="flex justify-between items-center gap-4 p-4">
    <p class="text-2xl font-comfortaa font-bold">nerdwiki</p>
    <button (click)="closeMenuAndUnlockBody()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 -960 960 960"
        class="size-6 fill-current"
      >
        <path
          d="M480-424 284-228q-11 11-28 11t-28-11q-11-11-11-28t11-28l196-196-196-196q-11-11-11-28t11-28q11-11 28-11t28 11l196 196 196-196q11-11 28-11t28 11q11 11 11 28t-11 28L536-480l196 196q11 11 11 28t-11 28q-11 11-28 11t-28-11L480-424Z"
        />
      </svg>
    </button>
  </div>
  <div class="p-4">
    <ul class="text-2xl font-semibold text-center space-y-4">
      @for (item of menu; track $index) {
      <li
        role="button"
        [routerLink]="[item.link]"
        (click)="closeMenuAndUnlockBody()"
      >
        {{ item.name }}
      </li>
      }
    </ul>
  </div>
</div>
}
